.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
   
}

.carousel-item{
    padding: 20px 40px;

}

.price{
    color: tomato;
}

.btn{
    margin-top: 10px;
    background-color: tomato !important;
    border-radius: 5px;
}



.cat-bg1{
    background: linear-gradient(0deg, rgba(222,210,97,1) 30%, rgba(130,138,221,1) 78%);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.cat-bg2{
    background: linear-gradient(0deg, rgba(156,221,130,1) 0%, rgba(222,210,97,1) 100%);
    margin-right: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.cat-bg3{
    background: linear-gradient(0deg, rgba(222,190,130,1) 20%, rgba(138,85,94,1) 78%);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}


