.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
   
}

.carousel-item{
    padding: 20px 40px;

}

.price{
    color: tomato;
}

.btn{
    margin-top: 10px;
    background-color: tomato !important;
    border-radius: 5px;
}



.cat-bg1{
    background: linear-gradient(0deg, rgba(222,210,97,1) 30%, rgba(130,138,221,1) 78%);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.cat-bg2{
    background: linear-gradient(0deg, rgba(156,221,130,1) 0%, rgba(222,210,97,1) 100%);
    margin-right: 10px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.cat-bg3{
    background: linear-gradient(0deg, rgba(222,190,130,1) 20%, rgba(138,85,94,1) 78%);
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.shoes-tag{

    margin-bottom: 25px;
    
}

.bag-tag{
    margin-bottom: 25px;

}

/*  */

.cardd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .cardd button {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(207, 119, 119);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .cardd button:hover {
    opacity: 0.7;
  }

 .email{
    padding-bottom: 150px;
 }

 .bbn{
     margin-left: 25px;
 }

 .cc{
     padding-top: 100px;
 }